.post-div{
    padding: 16px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 13px;
    margin-top: 10px;
}
.post-div img{
    height: 39px;
}
.main-part{
    width: 100%;
}
.action-message-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.action-message img{
    margin-left: 15px;
}
.main-message{
    font-size: 14px;
    font-weight: 500;
    line-height: 17.64px;
    text-align: left;
    color: #5E6778;
}
.name{
    font-weight: 800;
    color: #1C202B;
    margin-right: 6px;
}
.name:hover{
    cursor: pointer;
    color: #0A327B;
}
.post{
    font-weight: 700;
    margin-left: 6px;
}
.post:hover{
    cursor: pointer;
    color: #0A327B;
}
.group{
    font-weight: 700;
    margin-left: 6px;
    color: #0A327B;
}
.group:hover{
    cursor: pointer;
}
.red-circle{
    font-size: 8px;
    margin-left: 7px;
    position: relative;
    top: -0.2em;
}
.date{
    font-size: 14px;
    font-weight: 500;
    line-height: 17.64px;
    text-align: left;
    color: #939CAD;
    margin-top: 3px;
}
.direct-message{
    width: 100%;
    border: 1px solid #DDE7EE;
    padding: 16px;
    border-radius: 5px;
    margin-top: 12px;
}
.direct-message:hover{
    cursor: pointer;
    background-color: #E5EFFA;
}
.direct-message h1{
    font-size: 14px;
    font-weight: 500;
    line-height: 17.64px;
    text-align: left;
    color: #5E6778;
}
.picture:hover{
    cursor: pointer;
}