main{
  width: 100%;
  max-width: 730px;
  background-color: #FFFFFF;
  padding: 24px 16px 29px;
  min-height: 100vh;
}
.notif-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.notification-numb{
  display: flex;
  align-items: center;
  gap: 9px;
}
.notification-font{
  font-size: 20px;
  font-weight: 800;
  line-height: 25.2px;
  color: #1C202B;
}
.Nnumb{
  padding: 0 11px;
  height: 25px;
  background-color: #0A327B;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#notif-number{
  font-size: 16px;
  font-weight: 800;
  line-height: 20.16px;
  color: white;
}
#mark-all{
  font-size: 14px;
  font-weight: 500;
  line-height: 17.64px;
  color: #5E6778;
}
#mark-all:hover{
  cursor: pointer;
  color: #0A327B;
}

@media only screen and (min-width: 780px){
  main{
    padding: 33px 30px 0;
    min-height: fit-content;
    border-radius: 15px;
    box-shadow: 0px 20px 60px 0px #4961A80D;
  }
  .notif-header{
    margin-bottom: 31px;
  }
  .notification-numb{
    gap: 11px;
  }
  .notification-font{
    font-size: 24px;
    line-height: 30.24px;
  }
  #mark-all{
    font-size: 16px;
    line-height: 20.16px;
  }
}